#header
    .logo
        a(href=baseUrl).logo-text= appName +  " Editor"
    .user-controls
        if !authenticated
            a.login(href="auth/login") Login
        else 
            a#notification
                i.fas.fa-bell
                if !!notifications
                    .after= notifications
                include notification-box
            a.login(href="auth/logout") Logout
