if authenticated
  #sidebar
    a.sidebar-row(href='/dokku/' class=(selectedTab == 'mentors' ? 'selected' : '' )) Mentors
    a.sidebar-row(href='submissions/' class=(selectedTab == 'submissions' ? 'selected' : '' )) Submissions
    a.sidebar-row(href='analytics/' class=(selectedTab == 'analytics' ? 'selected' : '' )) Analytics