html
  height:100%
body
  margin: 0px
  padding: 0px
  font: 14px "Trebuchet MS", Helvetica, Arial, sans-serif
  display: flex
  flex-direction: column
  min-height: 100%
  overflow-y: auto
  background: #222827
  color: #efefef

a
  color: salmon

.dialog
  .dg-btn
    border: none
    padding: 7px 10px
    color: #ffffff
    background: salmon
    float: right
    margin: 0 5px
    border-radius: 3px
    &:hover
      background: darken(salmon, 10)

#header
  display:flex
  flex-direction: row
  padding: 20px 30px 
  border-bottom: 1px solid #373737
  justify-content: space-between
  align-items: baseline
  .logo
    font-size: 1.6em
    a
      text-decoration: none 
      color: #fefefe
      &:hover
        color: darken(#fefefe, 10)

  #notification, .login
    display: inline-block
    padding: 0 10px
    cursor pointer
    margin 0 5px

  #notification
    font-size: 1.3em
    position relative
    color: white
    &.open:after
      width: 0; 
      height: 0; 
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid white;
      bottom: -15px;
      right: 8px;
      content: "";
      position absolute
    &.open
      #notification-box
        display block !important

    .after
      position absolute
      top -3px
      right 5px
      height 14px
      width 14px
      border-radius 20px
      background crimson 
      content: "1"
      font-size: 0.5em
      color: white
      text-align: center
      line-height: 14px
      font-family: Arial, Helvetica, sans-serif
    #notification-box
      display none
      position: absolute
      cursor: default
      width: 200px;
      top 35px
      right -50px
      font-size: 0.8em
      background: #ffffff
      color: #111
      padding: 5px
      border-radius: 10px
      z-index: 10
      .row
        padding: 10px
        background #e3e3e3
        border-radius: 8px
        border 1px solid #d8d8d8
        text-align: center
        text-decoration: underline;
        color: crimson;
        cursor pointer
        a
          display: block

  .user-controls
    display: block

#content
  flex: 1
  display flex
  flex-direction: row
  flex-wrap: wrap

#sidebar
  width 220px
  min-width 100px
  display: flex
  // border-right: 1px solid #884039
  background: #171d1b
  flex-direction: column
  flex-grow: 1;

  .sidebar-row
    padding: 20px 
    text-decoration: none
    display: block
    border-bottom: 1px solid #222827
    position relative
    &:hover
      background: #dc4f43
      color: white
    &.selected
      border-left: 10px solid #dc4f43
      background: #222827
      color white



#main
  flex: 1
  padding: 10px 30px
  min-width: 300px;
  flex-grow: 9999;
  flex-basis: 20em;
  #error-bar
    .error
      padding: 10px;
      border: 1px solid #802020;
      border-radius: 2px;
      background: #301010; 
      font-size: 0.9em

  .edit-mentor-container
    display: flex
    flex-direction: column
    button 
      border: none
      padding: 10px
      color: #ffffff
      background: darken(salmon, 5)
      margin: 5px 8px
      border-radius: 3px
      &:hover
        background: darken(salmon, 15)
      &:disabled
        background: #666

  .editmentor
    display: flex
    flex-direction: row
    flex-wrap: wrap
    align-items: flex-start
    
    .editor
      background: #fefefe
      color: #222222
      border-radius: 2px
      margin: 10px 10px
      flex: 1 0 40%;
      
      &#editor-shared
        flex: 1 0 80%

      a
        text-transform: uppercase
        cursor: pointer
        &:hover
          color: #999
          text-decoration: underline
      .editor-row
        padding: 10px
        display: flex
        flex-direction: column
        flex-wrap: nowrap
        .edu-row
          border: 1px dashed #ccc
          padding: 5px
          margin: 5px 0
          font-size: 0.8em
          border-radius: 3px;
        #tags, #topics, #interests
          display: flex;
          flex: 1;
          flex-direction: row;
          flex-wrap: wrap;
          input
            margin-bottom: 2px
            margin-right: 2px
            flex: 1 0 40%
        label 
          color: #333
          text-transform: uppercase
          padding: 5px
          flex: 1
        .input-row
          flex: 1
          display: flex
          flex-wrap: wrap
          flex-direction: row
          align-items: center
          input
            flex: 1 0 150px
            margin-right: 5px
            margin-bottom: 5px
          select
            margin-bottom: 5px
            margin-right: 5px
            flex: 1
          button 
            margin: 0
            margin-bottom: 5px
        textarea
          resize: vertical
          border: 1px solid #bbb
          border-radius: 3px
          padding: 5px
        #longbio
          height: 100px
        #shortbio
          height: 70px

        input, select, span
          padding: 10px
          border: 1px solid #bbb
          border-radius: 3px
          flex: 1
        option, select, span
          text-transform: capitalize

      .language-name
        text-transform: uppercase
        padding: 10px
        border-bottom: 1px solid #eee
        color: #666

  #title-bar
    margin: 10px 0 20px 0
    h1
      text-transform: uppercase
      margin: 0.6em 0 0.3em 0
    .description
      font-size: 0.95em

  #login-needed
    font-size: 1.2em

  .view-mentor.mentor-controls
    div
      font-size: 1.1em
      display: inline-block
      padding: 5px 8px 5px 0px
      color: #666
    a
      color: salmon
      text-decoration: underline
      cursor: pointer
      &:hover
        color: #999

  .mentor-table, .post-table, .post-editor
    background: #fefefe
    color: #222222
    border-radius: 2px
    margin: 0 auto

  .post-editor
    padding: 10px 20px
    .post-title, .post-language
      display: flex
      flex-wrap: wrap
      flex-direction: row
      padding: 5px 0
      align-items: center
      label 
        text-transform: uppercase
        margin-right: 15px
      input, select, span
        flex: 1
        padding: 10px
        border: 1px solid #bbb
        border-radius: 3px
      option, select, span
        text-transform: capitalize
      span
        background: #ddd
    .button-container
      display: flex
      flex-direction: row
      justify-content: flex-end
      button
        padding: 20px 20px
        background: darken(salmon, 5)
        color: white
        font-size: 0.9em
        text-transform: uppercase
        border: none 
        border-radius: 2px 0px 0px 0px
        &:hover
          background: darken(salmon, 10)
        &:disabled
          background: #666

      

  .post-table
    margin-top: 20px

  .editbuttons
    border-bottom: 1px solid #ccc
    button
      padding: 20px 20px
      background: darken(salmon, 5)
      color: white
      font-size: 0.9em
      text-transform: uppercase
      border: none 
      border-radius: 2px 0px 0px 0px

      &:hover
        background: darken(salmon, 10)

  #mentor-list, #post-list
    .no-posts
      padding: 20px
      text-align: center
      flex: 1
      color: #aaaaaa
      font-size: 1.4em
      text-transform: uppercase

    .mentor-row, .post-row
      padding: 10px 15px
      border-bottom: 1px solid #eee
      display: flex
      flex-direction: row
      justify-content: space-between
      flex-wrap: wrap
      align-items: center
      .mentor-name, .mentor-controls, .post-name, .post-info
        display: inline-block
      .mentor-name, .post-name
        max-width: 200px
        a
          font-size: 1.1em
          text-transform: uppercase
          color: #666
          text-decoration: underline;
          &:hover
            color: darken(salmon, 10)
            text-decoration: underline
      .mentor-controls, .post-info
        .post-date, .post-lang
          font-size: 0.9em
          text-transform: uppercase
        .delete-post
           font-size: 1em
        div
          display: inline-block
          padding: 5px 8px
        a
          color: darken(salmon, 10)
          text-decoration: underline
          cursor: pointer
          &:hover
            color: #666

  table.submissions-list
    border-collapse: collapse
    width: 100%
    color: #555
    table-layout:fixed;
    thead
      background #f96a59
      color: white
      text-transform: uppercase
      font-size: 0.9em
      font-weight: normal

    tr
      padding: 10px 15px;
      border-bottom: 1px solid #eee;  
    td 
      padding 18px 5px
      word-break: break-word
    td.status
      width: 20px
    tbody
      .mentor-name
        text-transform: capitalize
      .time
        font-size: 0.85em
        color: #888
    td.type
      a
        color: #555
        text-decoration: none
    td.status
      .not-seen
        margin-left: 5px;
        width: 8px
        height: 8px  
        border-radius: 10px
        display: inline-block
        background: crimson

    #type-filter
      position relative
      text-decoration: underline
      cursor pointer
      display inline-block

      #type-dropdown
        display none
        position absolute
        top: 30px
        left: 0px
        background: #dc4f43
        border: lighten(#dc4f43, 30)
        color: white
        width: 160px
        font-size: 0.9em
        div
          padding: 10px
          border-bottom: 1px solid lighten(#dc4f43, 15)
          cursor pointer
          &:hover
            background-color: darken(#dc4f43, 10)
    
    #type-filter.open
      #type-dropdown
        display block

  table#submissions-list
    tr.submission-row
      cursor pointer
      &:hover
        background: #eee

  table#submission-item
    margin-bottom: 20px
    thead
      td
        padding-left: 15px
    tbody
      td:nth-child(1)
        color: #333;
        text-transform: uppercase;
        padding-left: 15px
        max-width: 150px
#footer
  padding: 10px   