body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF

.mentor-row
  padding: 10px 

  .mentor-name
    font-weight: bold

  .mentor-controls 
    
    div
      display: inline-block
      padding: 5px